header {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}

.logo-nome{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1%;
}

.logo-nome img{
    width: 2%;
    height: 2%;
}

.logo-nome span{
    align-self: last baseline;
    font-size: 1.3rem;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5%;  
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 1% 2%;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #333;
    border-radius: 1%;
}

.menu a.active {
    color:#008c6a; 
    font-weight: bold;
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    color: white;
}

main {
    flex: 1;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 1%;
}

.img-home{
    width: 30%;
    height: 30%;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-home {
    width: 45%;
    height: auto;
    border-radius: 8px; 
    padding-left: 50%;
}

.intro {
    max-width: 50%;
    padding-right: 20%;
    padding-bottom: 2%;
}

.intro h1 {
    font-size: 2rem;
    color: #fff;

}

.intro p {
    font-size: 1rem;
    color: #fff;
}

.destaques h2{
    display: flex;
    justify-content: center;
}

.destaques .links{
    display: flex;
    justify-content: center;
}

.destaques .links a {
    border: 2px solid #008c6a; 
    background-color: transparent;
    color: #008c6a;
    padding: 10px 20px;
    font-size: 1rem;
    margin-right: 10px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.destaques .links a:hover {
    background-color: #008c6a;
    color: white;
}

.destaques{
    padding-bottom: 1%;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PAG SEÇAO<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.sec-text{
    justify-self: center;
}

.sec-main {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

.sec-main figure {
    text-align: center; 
}

.sec-main img {
    width: 70%; 
    height: auto;
    border-radius: 10px;
}

.sec-main figcaption {
    margin-top: 1%;
    text-align: center;
}

.sec-main a {
    display: inline-block; 
    border: 2px solid #008c6a; 
    background-color: transparent;
    color: #008c6a;
    padding: 8px 15px; 
    font-size: 1rem;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    width: auto; 
    margin: 10px auto; 
}


.sec-main a:hover {
    background-color: #008c6a;
    color: white;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PAG ARTISTA<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.artistas h1{
    justify-self: center;

}

.img-artistas{
    display: flex;
    align-items: center;
}

.legenda-artista{
    padding-left: 1%;
    text-align: justify;
    padding-right: 26%;   
}

.img-artistas img{
   padding-left: 26%;
}

.botao-voltar{
  justify-self: end;
  padding-top: 2%;
  padding-bottom: 2%;
}

.botao-voltar a{
    border: 2px solid #008c6a; 
    background-color: transparent;
    color: #008c6a;
    padding: 10px 20px;
    font-size: 1rem;
    margin-right: 10px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.botao-voltar a:hover{
    background-color: #008c6a;
    color: white;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PAG ESCULTURAS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.esculturas {
    text-align: center;
}

.img-esculturas {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #008c6a 2px solid;
    padding: 2%;
    margin: 2% auto;
    width: 30%; 
}

.legenda-esculturas {
    text-align: center;
    width: 60%; 
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PAG FOTOS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.photo{
    justify-items: center;
}

.fotos-img{
    justify-items: center;
    border: #008c6a 2px solid; 
    padding-top: 1%;
    padding-bottom: 1%;
}

.fotos-legenda{
    justify-content: center;    
    text-align: center;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 1%;

}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PAG PINTURAS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.paint{
    justify-self: center;
}

.pinturas-img{
    justify-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.pinturas-legenda{
   border-bottom: #008c6a 2px solid;
   padding-top: 1%;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PAG PINTURAS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
}

.info {
    max-width: 50%;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>CONTATO*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.foto img {
    width: 100px; 
    height: auto;
    border-radius: 14%;
    border: 2px solid #008c6a;
}

.forms {
    width: 60%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    width: 100%;
}


.input-box {
    width: 33%;
}

.mensagem-box {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
}

.btn-box {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

button {
    background-color: #008c6a;
    color: white;
    padding: 1.5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
}

button:hover {
    background-color: #005c4a;
}

/*FONTESSSS*/


figcaption, p, a{
    font-family: 'Roboto', sans-serif;
}


h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

